@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=League+Spartan:wght@100..900&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=League+Spartan:wght@100..900&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=League+Spartan:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-image: url(../img/bg_image.jpeg);
    background-size: cover;
    height: 50vh;
}

.header {
    display: flex; 
    justify-content: space-between; 
    background-color: #00000033;
}

.logo {
    font-size: 20px;
    font-family: Spartan, sans-serif;
    font-weight: bold;
    color: #F8F9FA;
    width: 69px;
    height: 22px;
    padding-left: 70px;
}

.menu {
    display: flex;
    gap: 20px; 
    width: 33px;
    height: 14px;
}

.menu-item {
    text-decoration: none;
    color: #E5E5E5;
    font-size: 12px;
}

.menu-item:hover{
    color: #FFFF;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    color: #E5E5E5;
    font-size: 18px;
    text-decoration: none;
    width: 20px;
    height: 20px;
}

.social-icons a:hover {
    color: #FFFF;
}

.blog-regular {
    margin-left: 70px;
}

h2 {
    color: #495057;
    font-size: 36px;
    font-family: Lora, sans-serif;
    font-weight: 700;
}

.main-item {
    text-decoration: none;
    color: #495057;
    font-size: 12px;
    font-family: Lora, sans-serif;
    font-weight: 700;
}

.main-item:hover {
    color: #D4A373;
}

.blog img {
    width: 310px;
    height: 280px;
}

.blog {
    width: 310px;
    height: 450px;
}

.blog-title {
    color: #495057;
    font-family: Lora, sans-serif;
    font-weight: 700;
}

.blog-text {
    color: #6C757D;
    font-family: Lora, sans-serif;
    font-weight: 400;
}

.blog-date {
    color: #6C757D;
    font-family: Lora, sans-serif;
    font-weight: 400;
}